<!doctype html>
<html ng-app="jsonApp">
<head>
  <title>ng-promise</title>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/commentController.js"></script>
  <script type="text/javascript" src="js/jsonFactory.js"></script>
</head>
<body>
  <main ng-controller="CommentController as com">
    <h1>Loads of Bad Comments</h1>

    <form ng-submit="com.postComment()">
    <div>
      <label for="user-name">Name:</label>
      <input type="text" id="user-name" placeholder="Fran Sancisco" ng-model="com.postComment.name">
    </div>
    <div>
      <label for="user-email">Email:</label>
      <input type="text" id-"user-email" placeholder="bob@job.com" ng-model="com.postComment.email">
    </div>
    <div>
      <label for="user-comment">Comment:</label>
      <input type="text" id-"user-comment" placeholder="rabble rabble rabble..." ng-model="com.postComment.comment">
    </div>
    <input type="submit" value="Add">
  </form>

    <ul>
      <li ng-repeat="comment in com.comments">
        <strong contenteditable ng-model="comment.name">{{ comment.name }}</strong>
        <br>
        <em contenteditable ng-model="comment.name">{{ comment.email }}</em>
        <br>
        <p contenteditable ng-model="comment.name">{{ comment.body }}</p>
      </li>
    </ul>
  </main>
</body>
</html>